/* GENERAL STYLING */
:root {
  --background: rgba(100, 83, 58, 0.863);
}

*::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0; 
}

body {
  background: rgb(231, 222, 213);
}

.content {
  height: 200vh;
  background-blend-mode: multiply;
  background-size: 100%;
  display: grid;
  align-items: center;
}

header {
  background-color: var(--background);
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
}

p.intro {
  font-family: 'Oswald', sans-serif;
  font-weight: 550;
  font-size: 20px;
  max-width: 80%;
  color: rgb(10, 8, 6);
  padding-left: 11.5%;
}

p {
  font-family: 'Oswald', sans-serif;
  font-weight: 550;
  font-size: 20px;
  max-width: 80%;
  color: rgb(10, 8, 6);
  padding-left: 32%;
}

p.pr {
  display: flex;
  font-family: Courgette;
  font-size: 20px;
  color: rgb(12, 10, 8);
  margin-bottom: 15px;
  margin-right: 0;
  margin-left: -21%;
  max-width: 400px;
}

.about-p {
  margin-left: -24%;
  max-width: 114%;
}

footer.ft1 {
  background-color: rgb(100, 83, 58);
  padding-top: 10px;
  margin-bottom: 0%;
  box-shadow: 0 50vh 0 50vh rgb(100, 83, 58);
}

footer.ft2 {
  background-color: rgb(100, 83, 58);
  width:100%;
  padding:0;
  clear: both;
  bottom:0;
  position: absolute;  
}

#ft {
  font-size: 16px;
  margin-top: -10px;
  margin-left: 11%;
  padding-top: 15px;
  font-weight: 400;
  color: rgb(216, 216, 216);
}

#ft2 {
  font-family: 'Oswald', sans-serif;
  font-weight: lighter;
  font-size: 14px;
  max-width: 80%;
  color: rgb(216, 216, 216);
  padding-left: 45%;
}

h1 {
  font-family: Courgette;
  margin-top: 2%;
  margin-bottom: 0;
  font-size: 40px;
  font-weight: 500;
  padding-top: 10px;
  text-shadow: 2px 2px #000000a1;
}

header h2 {
  margin-bottom: 0px;
  font-size: 22px;
  font-weight: 300;
  padding-bottom: 20px;
  text-shadow: 2px 2px #000000a2;
}

h1, header h2 {
  color: rgb(232, 232, 232);
  text-align: center;
}

h3 {
  font-family: Courgette;
  font-size: 28px;
  color: rgb(12, 10, 8);
  text-align: center;
  margin-bottom: 7px;
}

h4 {
  font-family: Courgette;
  font-size: 26px;
  color: rgb(12, 10, 8);
  text-align: center;
  margin-bottom: 4px;
}
h4.title {
  text-decoration: underline;
}
h4.link {
  margin-left: -38%;
}

ul.list {
  font-family: 'Oswald', sans-serif;
  font-size: 19.5px;
  font-weight: 550;
  max-width: 80%;
  margin-left: 5%
}

ul.list li {
  margin: 13px;
}

/* IMG Styling */
img.ri {
  margin-top: 0;
  width: 62%;
  border-radius: 7px;
}
img.pi {
  margin-top: 10%;
  margin-right: 0;
  margin-left: 25%;
  width: 50%;
  border-radius: 9px;
}

/* CONTACT Styling */
.contact-p {
  margin-left: -24%;
  max-width: 114%;
  font-family: 'Oswald', sans-serif;
  font-weight: 550;
  font-size: 20px;
  color: rgb(10, 8, 6);
}

form {
  max-width: 600px;
  padding-right: 18px;
  padding-left: 12px;
}

.group-contact {
  display: flex;
  align-items: center;
}

.item-contact {
  flex: 1;
}

form input, form textarea {
  width: 100%;
  margin-bottom: 20px;
}

form label {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 400;
}

main section.contact-form {
  margin-top: 30px;
}

main section.contact-form h2 {
  font-size: 20px;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 400;
  margin: 0 10px;
  margin-left: 7px;
  padding-bottom: 10px;
  padding-top: 40px;
}

/* BR & HR Styling */
hr {
  margin-top: 40px;
  margin-bottom: 33px;
  padding-top: 1px;
  height: 2px;
  max-width: 90%;
  background-color:rgb(165, 142, 117);
}

hr.hr-project {
  margin-top: 0px;
  margin-bottom: -5px;
  max-width: 40%;
}

hr.hr-contact {
  margin-top: 0px;
  margin-bottom: 10px;
  max-width: 70%;
}

/* Navigation starts here */
.nav-toggle {
  display: none;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label:hover {
  opacity: 0.65;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: rgb(255, 255, 255);
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
  text-shadow: 2px 2px #00000067;
}

/* nav a:checked ~ .nav-toggle:checked ~ nav {
  transform: scale(1,0); */

nav a:hover {
  color: rgb(7, 7, 7);
  text-shadow: none;
}

.nav-toggle:checked ~ nav { 
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 25ms ease-in-out 250ms;
}

.jumptarget::before {
  content:"";
  display:block;
  height:150px; /* fixed header height*/
  margin:-50px 0 0; /* negative fixed header height */
}

/* LINKS */
section.contact-info a:link {
  background-color: transparent;
  text-decoration: none;
  color: rgb(0, 138, 0);
}

section.contact-info a:visited {
  background-color: transparent;
  text-decoration: none;
  color: rgb(61, 0, 228);
}

section.contact-info a:hover {
  background-color: transparent;
  text-decoration: underline;
  color: rgb(255, 115, 0);
}

section.contact-info a:active {
  background-color: transparent;
  text-decoration: underline;
  color: rgb(255, 247, 241);
}
.contact-info {
  font-size: 17px;
  font-weight: 550;
  max-width: 28%;
  margin-bottom: 50px;
  margin-top: -5px;
}

ol {
  margin-left: 9%;
  margin-top: 10px;
  margin-bottom: 75px;
}

ol li {
  
  margin-top: 10px;
}

@font-face {
  font-family: courgette;
  src: url(Courgette-Regular.ttf);
}

/*      Form.html      */
h3.ri {
  margin-top: 100%;
  margin-bottom: 100%;
}

/* --- Groups & Items & Sections --- */
.group , .group-pr {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.group-intro {
  display: flex;
  flex-direction: column;
}

.imghdr-group {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.item {
  flex: 1;
  margin: auto;
  align-items: center;
}

#projects1 {
  background-color: rgba(190, 171, 156, 0.466);
  border-top: 4px solid rgba(0, 0, 0, 0.247);
}
#projects2 {
  background-color: rgba(190, 171, 156, 0.466);
  border-bottom: 4px solid rgba(0, 0, 0, 0.247);
}

/*            Desktop              */
@media all and (min-width: 550px) {
  img.ri {
  margin-top: 27%
  }
}
@media all and (max-width: 550px) {
  img.ri {
  margin-top: 38%
  }
}

@media all and (min-width: 800px) {
  img.ri {
  margin-top: 22%
  }
  img.pi {
    width: 50%;
    margin-top: 5%;
    margin-left: 25%;
    margin-bottom: 0%;
    border-radius: 14px;
    margin-right: 0;
  }
  p {
    max-width: 37%;
    padding-left: 32%;
  }
  p.pr {
  font-size: 22px;
  max-width: 500px;
  margin-left: 25%;
  margin-right: 10%;
  padding-left: 0%;
  padding-bottom: 20px;
  align-items: center;
  }
  section.contact-form {
    padding: 0 35%;
    padding-bottom: 15px;
  }
  .contact-p {
  margin-left: 0;
  }
  .about-p {
  max-width: 70%;
  margin-left: 16%;
  }
  .group {
    flex-direction: row;
  }
  .group-pr {
    flex-direction: row;
    padding-left: 15%;
    padding-right: 15%;
  }
  .contact-info {
  font-size: 20px;
  font-weight: 550;
  max-width: 28%;
  margin-bottom: 50px;
  margin-top: -20px;
  }
  ol {
  margin-left: 130%;
  }
  #ft {
  margin-left: 15%;
  }
  #ft2 {
  padding-left: 50%;
  }
  main section.contact-form h2 {
  font-size: 22px;
  margin-left: 5px;
  }
  hr {
  max-width: 45%;
  }
  hr.hr-project {
  max-width: 15%;
  }
  hr.hr-contact {
  max-width: 45%;
  }
  #projects1 {
  border-bottom: 2px solid rgba(0, 0, 0, 0.247);
  }
  /* Navigation starts here */
  .nav-toggle-label {
    display: none;
  }
  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 1fr) 1fr;
  }
  h1 {
  margin-bottom: -2%;
  font-size: 42px;
  }
  header h2 {
  font-size: 24px;
  font-weight: lighter;
  }
  h4.link {
  margin-left: 132%;
  }
  .logo {
    grid-column: 2 / 3;
  }
  nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-items: flex-end;
    align-items: center;
  }
  nav ul {
    display: flex;
    justify-content: flex-end;
  }
  nav li {
    margin-left: 3.5em;
    margin-bottom: -1em;
  }
  nav a {
    opacity: 1;
    position: relative;
    font-size: 1.1rem;
  }
  nav a::before {
    content: '';
    display: block;
    height: 4px;
    background: rgb(12, 12, 12);
    position: absolute;
    bottom: -.5em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transform-origin: right;
    transition: transform ease-in-out 200ms;
  }
  nav a:hover::before {
    transform: scale(1,1);
  }
}
