/* GENERAL STYLING */
html, body {
  margin: 0%; 
}

body {
  background-color: rgb(231, 222, 213);
}

p.intro {
  font-family: 'Oswald', sans-serif;
  font-weight: 550;
  font-size: 20px;
  max-width: 80%;
  color: rgb(10, 8, 6);
  padding-left: 11.5%;
}

p {
  font-family: 'Oswald', sans-serif;
  font-weight: 550;
  font-size: 20px;
  max-width: 37%;
  color: rgb(10, 8, 6);
  padding-left: 32%;
}

p.contact {
  font-family: 'Oswald', sans-serif;
  font-weight: 550;
  font-size: 20px;
  max-width: 46%;
  color: rgb(10, 8, 6);
  padding-left: 27%;
}

#box, footer {
  background-color: rgb(100, 83, 58);
  padding-top: 10px;
}

footer {
  margin-bottom: 0%;
  box-shadow: 0 50vh 0 50vh rgb(100, 83, 58);
}

#ft {
  font-size: 16px;
  margin-top: -10px;
  margin-left: 20%;
  padding-top: 15px;
  font-weight: 400;
  color: rgb(216, 216, 216);
}

h1 {
  font-family: Courgette;
  margin-top: 0%;
  margin-bottom: -0.9%;
  font-size: 38px;
  font-weight: 500;
  padding-top: 10px;
  color: rgb(255, 255, 255);
}

h2 {
  margin-bottom: 55px;
  font-size: 26px;
  font-weight: 300;
  padding-bottom: 10px;
}

h1, h2 {
  color: rgb(216, 216, 216);
  text-align: center;
}

h3 {
  font-family: Courgette;
  font-size: 28px;
  color: rgb(12, 10, 8);
  text-align: center;
  margin-bottom: 7px;
}

ul.list {
  font-family: 'Oswald', sans-serif;
  font-size: 19.5px;
  font-weight: 550;
  max-width: 80%;
  margin-left: 5%
}

ul li {
  margin: 13px;
}

/* IMG Styling */
img.ri {
  width: 62%;
  border-radius: 7px;
}

/* CONTACT Styling */
.contact-info {
  font-size: 20px;
  font-weight: 550;
  max-width: 28%;
  max-height: 24%;
  margin-bottom: 50px;
  margin-top: -20px;
}

/* BR & HR Styling */
hr {
  margin-top: 40px;
  margin-bottom: 33px;
  padding-top: 1px;
  height: 2px;
  max-width: 30%;
  background-color:rgb(165, 142, 117);
}

hr.hr-style {
  margin-top: 0px;
  margin-bottom: 50px;
}

/* LINKS */
a:link {
  background-color: transparent;
  text-decoration: none;
  color: rgb(0, 138, 0);
}

a:visited {
  background-color: transparent;
  text-decoration: none;
  color: rgb(61, 0, 228);
}

a:hover {
  background-color: transparent;
  text-decoration: underline;
  color: rgb(255, 115, 0);
}

a:active {
  background-color: transparent;
  text-decoration: underline;
  color: rgb(255, 247, 241);
}

ol li {
  margin-left: 100%;
  margin-top: 15px;
}

@font-face {
  font-family: courgette;
  src: url(Courgette-Regular.ttf);
}

/* ---Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imghdr-group {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.item {
  flex: 1;
  margin: auto;
  align-items: center;
}

@media all and (min-width: 800px) {
  section, h1 {

    padding: 0 10%;
  }
  .group {
    display: flex;
    flex-direction: column;
  }
}
